this is the chat room page

<h1> Chat! </h1>

<div class="container">
  <div class="chat">
    <ul id="thread">
    <% messages.forEach(function (msg) { %>
      <li> <%= msg.author.profile.firstName%> : <%= msg.body %> : <%= msg.translate %> </li>
    <% }) %>
    </ul>
  </div>
  <form id="sendmessage">
    <div class="form-group row">
      <label for="lgFormGroupInput" class="col-sm-2 col-form-label col-form-label-lg">Enter your message</label>
      <div class="col-sm-10">
        <input type="text" class="form-control form-control-lg" id="chat_input" name="composedMessage" placeholder="message"></input>
        <input type="hidden" name="chatroomId" value="<%= newChatroom %>" id="chatroomId">
        <input type="hidden" name="author" value="<%= currentUser._id %>" id="author">
        <input type="hidden" name="authorName" value="<%= currentUser.profile.firstName %>" id="authorName">
        <input class="btn btn-primary" type="submit" value="Submit">
      </div>
    </div>
  </form>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/main.js"></script>
<script>
	const socket = io.connect('http://localhost:3000')

  socket.on('broad', function(messages) {
    console.log('do you come here', messages)
    $('#thread').prepend("<li>" + messages.authorName + " : " + messages.body + "</li>")
    $('#thread').prepend("<li>" + messages.authorName + " : " + messages.translate + "</li>")
  })

  $('form').submit(function(e){
    e.preventDefault()
    console.log('have i submitted the form?')
    var data = {composedMessage: $('#chat_input').val(), author: $('#author').val(), chatroomId: $('#chatroomId').val(), authorName: $('#authorName').val() }
    // send a message to the server with the values of the input field in messages
    console.log('have i submitted the form?')
    socket.emit('messages', data)
})

</script>
