
<div class="container chatContainer">
  <h1> Chat! </h1>

  <div class="container">
    <div class="chat col-xs-offset-1">
      <div class="english col-xs-6">
        <ul id="threadEnglish">
          <%  if (messages.length > 1) { %>
            <% messages.forEach(function (msg) { %>
              <% console.log(messages, msg, 'trying to find my data!!!') %>
              <div> <%= msg.authorName %> : <%= msg.body %> </div>
              <% }) %>
              <%  } else { %>
                <% console.log(messages, 'trying to find my data3!!!') %>
                <div> <%= messages.authorName%> : <%= messages.body %> </div>
                <% } %>
              </ul>
            </div>
            <div class="yoda col-xs-6">
              <ul id="threadYoda">
                <%  if (messages.length > 1) { %>
                  <% messages.forEach(function (msg) { %>
                    <% console.log(messages, msg, 'trying to find my data2!!!') %>
                    <div> <%= msg.authorName %> : <%= msg.translate %> </div>
                    <% }) %>
                    <%  } else { %>
                      <% console.log(messages, 'trying to find my data4!!!') %>
                      <div> <%= messages.authorName%> : <%= messages.translate %> </div>
                      <% } %>
                    </ul>
                  </div>
                  </div>
                  <br>
                  <div class="sendMessageBox">
                  <form id="sendmessage">
                    <div class="form-group row col-xs-offset-1">
                      <label for="lgFormGroupInput" class="col-sm-2 col-form-label col-form-label-lg">Enter your message</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control form-control-lg" id="chat_input" name="composedMessage" placeholder="message"></input>
                        <input type="hidden" name="chatroomId" value="<%= newChatroom %>" id="chatroomId">
                        <input type="hidden" name="author" value="<%= currentUser._id %>" id="author">
                        <input type="hidden" name="authorName" value="<%= currentUser.firstName %>" id="authorName"> <br>
                        <input class="btn btn-primary" type="submit" value="Yoda">
                        <button class="btn btn-primary" type="submit" id="start"> Start Speak </button>
                        <button class="btn btn-primary" type="submit" id="clear"> Clear Speak </button>
                        <button class="btn btn-primary" type="submit" id="pause"> Pause Speak </button>
                        <button class="btn btn-primary" type="submit" id="resume"> Resume Speak </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>

              <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
              <script src="/socket.io/socket.io.js"></script>
              <script src="http://code.responsivevoice.org/responsivevoice.js"></script>
              <script>
              const socket = io.connect('http://localhost:3000')

              socket.on('broad', function(messages) {
                console.log('do you come here', messages)
                $('#threadEnglish').prepend("<div>" + messages.authorName + " : " + messages.body + "</div>")
                $('#threadYoda').prepend("<div>" + messages.authorName + " : " + messages.translate + "</div>")
                console.log('what is in toSpeakMsg', toSpeakMsg)
                toSpeakMsg.push(messages.translate)
              })

              $('form').submit(function(e){
                e.preventDefault()
                console.log('have i submitted the form?')
                var data = {composedMessage: $('#chat_input').val(), author: $('#author').val(), chatroomId: $('#chatroomId').val(), authorName: $('#authorName').val() }
                // , pickedTranslation: $('#pickedTranslation').val()
                // send a message to the server with the values of the input field in messages
                socket.emit('messages', data)
                $('#chat_input').val("")
              })

              $('#yoda').click(function(e){
                console.log('clicked to yoda')
                // e.preventDefault()
                toSpeakMsg.forEach(function (speak) {
                  responsiveVoice.speak(speak, "UK English Male", {rate: 1.5})
                })
              })

              var toSpeakMsg = []
              $('#start').click(function(e){
                console.log('clicked to start')
                // e.preventDefault()
                toSpeakMsg.forEach(function (speak) {
                  responsiveVoice.speak(speak, "UK English Male", {rate: 1.5})
                })
              })

              $('#clear').click(function(e){
                console.log('clicked to clear')
                // e.preventDefault()
                toSpeakMsg = []
              })

              $('#pause').click(function(e){
                console.log('clicked to pause')
                // e.preventDefault()
                responsiveVoice.pause()
              })

              $('#resume').click(function(e){
                console.log('clicked to resume')
                // e.preventDefault()
                responsiveVoice.resume()
              })

              </script>
